@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font: 'Roboto Slab', serif;
}

body,
html,
h1 {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3 {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h4 {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-y: auto;
  height: 100%;
}

.shinyButtonDisabled {
  color: #fff !important;
  background-color: #ccc !important;
}

.shinyButton {
  color: #fff !important;
  background-color: #000 !important;
}

.makeStyles-paper-11,
.makeStyles-paper-11 h2,
.MuiTypography-body1,
.MuiPaper-root,
.MuiPaper-root h2 {
  color: #ffffff;
}

.secondary-button {
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  height: 50px;
  background: #9aa4da;
  width: 100%;
  border-radius: 10px;
}

.primary-button {
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  height: 50px;
  width: 100%;
  background: #00f0e2;
  border-radius: 10px;
}

body {
  background: #12141d;
  color: #fcfcfc;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: var(--font) !important;
}

h1 {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3 {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h4 {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h5,
h6 {
  font-family: 'Kanit' !important;
}

footer .a:hover {
  fill: '#DA4567';
}

.MuiButton-containedPrimary,
.MuiButton-containedPrimary:hover,
.MuiListItem-button:hover,
.MuiButtonBase-root:hover {
  color: rgb(255, 255, 255) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Lato', 'Kanit', 'Roboto';
}

.Mui-disabled {
  background-color: #cdcdcd !important;
}

.MuiTypography-root,
.MuiAlert-root,
.MuiButton-root {
  font-family: var(--font) !important;
}
.wallet-button {
  color: black !important;
  background-color: #ddd !important;
  font-size: 1.1rem !important;
  text-align: left !important;
  justify-content: flex-start !important;
  text-transform: none !important;
  margin: 3px 0 !important;
}
.wallet-button:hover {
  background-color: black !important;
  color: #757ce8 !important;
}
